html {
	background-color: black;
}

ul {
	list-style-type: none;
}

li a {
	color: white;
	list-style-position: inherit;
	text-align: left;
	display: inline-block;
	padding: 0.25em;
	margin: 0.2em;
	text-decoration: none;
	overflow: hidden;
}

li a:HOVER {
	background-color: olive;
}

.izq {
	width: 20%;
	float: left;
	padding-top: 50px;
	padding-bottom: 50px;
	font-family: sans-serif;
	text-align: left
}

.titulo {
	background-color: black;
	text-align: left;
	color: white;
	margin-top: 25%;
	margin-left: 5%;
	text-decoration: none;
}

.menu {
	background-color: black;
	color: white;
	font-size: 19px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: 1.1em;
	/* 	margin-bottom: 20%; */
	margin-top: 30%;
}

.caja {
	padding-bottom: 7%;
}

.fotos {
	float: right;
	margin: 0px 0px 0px 0px;
	text-align: center;
	width: 80%;
	display: block;
	position: relative;
	padding: 0;
}

.foto1 {
	z-index: 229;
	position: absolute;
	left: 0px;
	top: 0px;
}

.foto2 {
	z-index: 227;
	position: absolute;
	left: 408px;
	top: 0px;
}

.foto3 {
	z-index: 225;
	position: absolute;
	left: 816px;
	top: 0px;
}

.foto4 {
	z-index: 223;
	position: absolute;
	left: 0px;
	top: 270px;
}

.foto5 {
	z-index: 221;
	position: absolute;
	left: 408px;
	top: 300px;
}

.foto6 {
	z-index: 219;
	position: absolute;
	left: 816px;
	top: 269px;
}

.foto7 {
	z-index: 217;
	position: absolute;
	left: 0px;
	top: 540px;
}

.foto8 {
	z-index: 215;
	position: absolute;
	left: 408px;
	top: 529px;
}

.foto9 {
	z-index: 213;
	position: absolute;
	left: 816px;
	top: 540px;
}